.details {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 60px;
}

.details-slider {
  width: calc(100% - 546px - 120px);
  height: 100%;
  position: relative;
  /* margin-right: 149px; */
}

.product-full-image {
  width: 100%;
  /* max-height: 800px; */
}

.preview-images {
  position: absolute;
  list-style: none;
  top: 134px;
  left: 50px;
}

.preview-image {
  position: relative;
}

.preview-image:not(:last-child) {
  margin-bottom: 20px;
}

.description {
  width: 100%;
  max-width: 546px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-category {
  font-size: 11px;
  letter-spacing: 1px;
  color: #ccd1d9;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.details-product-title {
  color: #2e2b40;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 27px;
  text-decoration: none;
}

.details-price {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 37px;
}

.product-price {
  color: #ccd1d9;
  text-decoration: line-through;
  margin-right: 21px;
}

.product-discounted-price {
  color: #ed5565;
}

.product-materials {
  margin-top: 34px;
  font-size: 16px;
}

.product-material {
  margin-bottom: 12px;
}

.product-materials strong {
  font-size: 13px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 57px;
}

.size-list {
  display: flex;
  list-style: none;
}

.size-item:not(:last-child) {
  margin-right: 38px;
}

.size-input {
  display: none;
}

.label-text {
  font-size: 16px;
  color: #2e2b40;
}

.size-input:checked + .label-text {
  color: #ed5565;
}

.dimensions-link {
  position: relative;
  font-size: 11px;
  color: #ccd1d9;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 63px;
}

.dimensions-link:before {
  position: absolute;
  content: '';
  top: -2px;
  left: -24px;
  width: 16px;
  height: 16px;
  background-image: url(../img/dimensions-icon.png);
  background-size: contain;
  background-repeat: no-repeat;

}

.btn {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  border: none;
  padding: 23px 41px 22px 40px;
  cursor: pointer;
  outline: none;
}

.add-to-cart {
  color: #ffffff;
  background-color: #ed5565;
  margin-top: 100px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}

@media (min-width: 1025px) and (max-width: 1366px) {
  
}

@media (min-width: 1367px) {
  
}