.page-header {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 44px 70px;
  background-color: rgb(255, 255, 255);
}

.page-header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.page-header ul li {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-decoration: none;
  color: #2e2b40;
  font-weight: 300;
}

.logo span {
  font-weight: 900;
}

.cart path {
  transform: translateY(3px);
  fill: #000000;
}

.cart:hover .cart-svg {
  fill: #aab2bd;
}

@media (max-width: 767px) {
  .page-header {
    padding-left: 20px;
    padding-right: 20px; 
  }
}